@font-face {
  font-family: aboutFont;
  src: url(Fonts/Abel-Regular.ttf);
}

@font-face {
  font-family: bit1;
  src: url("/Fonts/easvhs.ttf");
}

@font-face {
  font-family: bit2;
  src: url("/Fonts/alagard.ttf");
}

@keyframes gallery-text-flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pf1 {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 89%;
  }
  100% {
    opacity: 100;
  }
}

@keyframes pf2 {
  0% {
    opacity: 100%;
  }
  20% {
    opacity: 89%;
  }
  40% {
    opacity: 68%;
  }
  100% {
    opacity: 100;
  }
}

@keyframes pf3 {
  0% {
    opacity: 100%;
  }
  44% {
    opacity: 86%;
  }
  100% {
    opacity: 100;
  }
}

.kit_button {
  background-color: black;
  border-radius: 8px;
  border-color: rgb(93, 255, 91);
  height: 38px; /* Fixed height */
  width: 200px; /* Fixed width */
  margin-top: 1%;
  font-family: bit1;
  color: rgb(4, 255, 0);
  font-size: 13px;
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  text-align: center;
}

.kit_button:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(4, 255, 0);
  border-radius: 8px;
  border-color: rgb(93, 255, 91);
  height: 38px; /* Keep hover state consistent */
  width: 200px; /* Keep hover state consistent */
  margin-top: 1%;
}

.pText {
  font-family: bit1;
  color: rgb(4, 255, 0);
  font-size: 13px;
  margin: 0;
}

#pf1 {
  animation: pf1 0.2s ease-in-out infinite;
}

#pf2 {
  animation: pf1 0.2s ease-in-out infinite;
}

#pf3 {
  animation: pf1 0.2s ease-in-out infinite;
}

#header_text {
  text-align: center;
  color: rgb(34, 255, 49);
  font-weight: lighter;
  animation: gallery-text-flicker 0.2s ease-in-out infinite;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: repeat(2, auto); /* Two rows */
  gap: 10px; /* No space between videos */
  padding: 0;
  width: 720px; /* Set a specific width for the gallery */
  margin: 0 auto; /* Center the gallery */
}

.gallery > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  width: 100%; /* Ensure the video takes up the full width of its grid cell */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

img {
  margin: 0;
  width: 100%; /* Ensure the video takes up the full width of its grid cell */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

.kit_text_adjust {
  margin-top: 10%;
  background-color: aliceblue;
}

.kit_headerText {
  font-family: bit2;
  font-weight: 200;
  animation: gallery-text-flicker 0.2s ease-in-out infinite;
}

.kit_text_adjust {
  font-family: bit1;
  color: rgb(4, 255, 0);
  font-size: 13px;
  margin: 0;
}

.kit_title_move {
  margin-top: 2%;
}
.move_text {
  margin-top: 1%;
}

.kit_bigger_font {
  font-family: bit1;
  color: rgb(4, 255, 0);
  font-size: 13px;
  margin: 0;
}

.hover-cursor:hover {
  color: red;
}
