@font-face {
  font-family: myFont;
  /* src: url("Rochester Twee.ttf"); */
  src: url("Fonts/Rochester Twee.ttf");
}

@font-face {
  font-family: navFont;
  src: url(/Fonts/OldLondon.ttf);
}

@font-face {
  font-family: aboutFont;
  /* src: url(Abel-Regular.ttf); */
  src: url(Fonts/Abel-Regular.ttf);
}

@font-face {
  font-family: navFont;
  /* src: url("OldLondon.ttf"); */
  src: url("Fonts/OldLondon.ttf");
}

.fontnav {
  font-family: myFont;
}
.green-say2cups {
  color: rgb(14, 235, 33);
  text-decoration: none;
  margin: 0;
}

.green {
  color: rgb(0, 221, 18);
}

.green-point:hover {
  color: rgb(0, 221, 18);
}

.navclass {
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: navFont;
}

.logo {
  font-size: 33px;
  font-family: myFont;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.cursor {
  cursor: pointer;
}

.link-remove {
  text-decoration: none;
}
