@font-face {
  font-family: myFont;
  src: url("Fonts/Rochester Twee.ttf");
}

@font-face {
  font-family: navFont;
  src: url("Fonts/OldLondon.ttf");
}

@font-face {
  font-family: aboutFont;
  src: url("Fonts/Abel-Regular.ttf");
}

@font-face {
  font-family: monster;
  src: url("Fonts/MONSTERIZE.TTF");
}

#fontMonster {
  font-family: monster;
  color: red;
}

.fontnav {
  font-family: myFont;
}

.green-say2cups {
  color: rgb(34, 255, 49);
  animation: gallery-text-flicker 0.2s ease-in-out infinite;
  text-decoration: none;
  margin: 0;
}
@keyframes gallery-text-flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 96%;
  }
  100% {
    opacity: 1;
  }
}

.green {
  color: rgb(0, 221, 18);
}

.green-point:hover {
  color: rgb(0, 255, 0);
}

.navclass {
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: navFont;
}

.logo {
  font-size: 33px;
  font-family: myFont;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 510;
}

.link-remove {
  text-decoration: none;
}

.menu {
  list-style: none;
  background-color: #000000;
  display: inline-block;
  position: relative;
  padding: 0px;
}

.menu li {
  position: relative;
}

.menu li:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000000;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: max-content;
}

.dropdown li {
  display: block;
}

.dropdown li a {
  color: rgb(0, 221, 18);
  text-decoration: none;
  padding: 10px 20px;
  animation-name: f2;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#f2 {
  animation-name: f2;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
#f3 {
  animation-name: f3;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.dropdown li:hover a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  animation-name: f1;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.Custom-Cursor {
  height: 100vh;
  cursor: url("Images/Cursor/CursorMain.png"), auto;
}

@keyframes f1 {
  0% {
    opacity: 100%;
    color: rgb(255, 0, 0);
  }
  0% {
    opacity: 100%;
    color: rgb(162, 0, 0);
  }
  100% {
    opacity: 100%;
  }
}

@keyframes f2 {
  0% {
    opacity: 100%;
  }
  0% {
    opacity: 90%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes f3 {
  0% {
    opacity: 100%;
  }
  0% {
    opacity: 86%;
  }
  100% {
    opacity: 100%;
  }
}
